<div class="container">
    <div class="titles">
        <h1>ngx-confirm</h1>
        <h3>ANGULAR 17</h3>
        <h4>A mat-dialog to get cofirmation dialogs.</h4>

        <pre>
&lt;a class=&quot;btn&quot; dagConfirm=&quot;Are you Sure?&quot; (confirm)=&quot;doSomething()&quot;&gt;confirm&lt;a&gt;
        </pre>
    </div>

    <div id="github">
        <a href="https://github.com/ilDug/ngx-confirm">
            <span>
                <img src="github.svg" alt="fork me on github" title="fork me on github" />
            </span>
        </a>
    </div>

    <div class="example">
        <p style="text-align: center">
            <a class="btn" dagConfirm="Are you Sure?" (confirm)="doSomething()">
                confirm
            </a>
        </p>

        <p>{{ confirmationMsg }}</p>

        <p>
            <small><a href="#" (click)="reset()">reset</a></small>
        </p>
    </div>
</div>